{% extends "base.html" %}
{% load static %}
{% block body_class %}template-homepage{% endblock %}
{% load paginate %}
{% block content %}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3> Học sinh <small> Danh sách học sinh được giao cho phụ huynh
                    &emsp;</small>
            
            </h3>
            
        </div>

    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-10 ">
                <form class="form-horizontal form-label-center">
                
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Học sinh</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <select class="form-control" id="student_timetable" >
                                {% for p in myStudent %}
                                    {% if p.id != selectedstd.id %}
                                        <option value="{{p.id}}"> {{ p.name }}</option>
                                    {% else %} 
                                        <option value="{{p.id}}" selected> {{ p.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="divider-dashed"></div>
                </form>
                
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-10 " style="text-align: center">
                <h2> <b> Danh sách giáo viên lớp: {{firstClass}}   </b> </h2>
        </div>
    </div>
    <div class="clearfix"></div>

    <table class="table table-striped projects" style="text-align: center">
        <thead style="text-align: center">
            <tr style="text-align: center">
                <th style="width: 15%; text-align: center">Tên</th>
                <th style="width: 15%; text-align: center">Ngày sinh</th>
                <th style="width: 10%; text-align: center">Là gvcn ?</th>
                <th style="width: 15%; text-align: center">Môn</th>
                <th style="width: 15%; text-align: center">Bằng cấp</th>
                <th style="width: 15%; text-align: center">Email</th>
                <th style="width: 15%; text-align: center">Điện thoại</th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teacherlist %}
            <tr>
                <td> {{teacher.name}}</td>
                <td> {{teacher.dob}}</td>
                <td> {{teacher.isHeadTeacher}}</td>
                <td> {{teacher.subjects}}</td>
                <td> {{teacher.degree}}</td>
                <td> {{teacher.email}}</td>
                <td> {{teacher.phone}} </td> 
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div>
</div>

<script>
    document.getElementById("student_timetable").addEventListener("change", student_timetable_function); 
    function student_timetable_function() {
        var x = document.getElementById("student_timetable");
        var sUrl = "/teacherlist/" + x.value ; 
        window.location = sUrl ; 
    }
</script>
{% endblock %}