{% extends "base.html" %}
{% load static %}
{% block body_class %}template-homepage{% endblock %}

{% block content %}
<div class="">
        <div class="row top_tiles">
          <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
              <div class="icon"><i class="fa fa-users"></i></div>
              <div class="count">{{studentsCount }}</div>
              <h3>Số học sinh</h3>
              <p>   </p>
            </div>
          </div>
          <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
              <div class="icon"><i class="fa fa-fax"></i></div>
              <div class="count">{{absCount}}</div>
              <h3>Đơn xin nghỉ</h3>
              <p>   </p>
            </div>
          </div>
          <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
              <div class="icon"><i class="fa fa-user"></i></div>
              <div class="count">{{teachersCount}}</div>
              <h3>Số giáo viên</h3>
              <p>   </p>
            </div>
          </div>
          <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
              <div class="icon"><i class="fa fa-file-o"></i></div>
              <div class="count">{{markCount}}</div>
              <h3>Số lượng điểm</h3>
              <p>   </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Tình hình nghỉ phép <small>Theo tuần</small></h2>
                <div class="filter">
                  <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    <span>December 30, 2019 - January 28, 2019</span> <b class="caret"></b>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="col-md-8 col-sm-12 col-xs-12">
                  <div class="demo-container" style="height:280px">
                    <div id="chart_plot_01" class="demo-placeholder"></div>
                  </div>
                  <div class="tiles">
                    <div class="col-md-4 tile">
                      <span>Tổng số nghỉ phép</span>
                      <h2>231,809</h2>
                      <span class="sparkline11 graph" style="height: 160px;">
                           <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                      </span>
                    </div>
                    <div class="col-md-4 tile">
                      <span>Tổng số buổi đi muộn</span>
                      <h2>231,809</h2>
                      <span class="sparkline22 graph" style="height: 160px;">
                            <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                      </span>
                    </div>
                    <div class="col-md-4 tile">
                      <span>Số buổi nghỉ không phép</span>
                      <h2>231,809</h2>
                      <span class="sparkline11 graph" style="height: 160px;">
                             <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                      </span>
                    </div>
                  </div>

                </div>

                <div class="col-md-4 col-sm-12 col-xs-12">
                  <div>
                    <div class="x_title">
                      <h2>Học sinh gương mẫu</h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                          </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                    <ul class="list-unstyled top_profiles scroll-view">
                      <li class="media event">
                        <a class="pull-left border-aero profile_thumb">
                          <i class="fa fa-user aero"></i>
                        </a>
                        <div class="media-body">
                          <a class="title" href="#">Ms. Mary Jane</a>
                          <p><strong>$2300. </strong> Agent Avarage Sales </p>
                          <p> <small>12 Sales Today</small>
                          </p>
                        </div>
                      </li>
                      <li class="media event">
                        <a class="pull-left border-green profile_thumb">
                          <i class="fa fa-user green"></i>
                        </a>
                        <div class="media-body">
                          <a class="title" href="#">Ms. Mary Jane</a>
                          <p><strong>$2300. </strong> Agent Avarage Sales </p>
                          <p> <small>12 Sales Today</small>
                          </p>
                        </div>
                      </li>
                      <li class="media event">
                        <a class="pull-left border-blue profile_thumb">
                          <i class="fa fa-user blue"></i>
                        </a>
                        <div class="media-body">
                          <a class="title" href="#">Ms. Mary Jane</a>
                          <p><strong>$2300. </strong> Agent Avarage Sales </p>
                          <p> <small>12 Sales Today</small>
                          </p>
                        </div>
                      </li>
                      <li class="media event">
                        <a class="pull-left border-aero profile_thumb">
                          <i class="fa fa-user aero"></i>
                        </a>
                        <div class="media-body">
                          <a class="title" href="#">Ms. Mary Jane</a>
                          <p><strong>$2300. </strong> Agent Avarage Sales </p>
                          <p> <small>12 Sales Today</small>
                          </p>
                        </div>
                      </li>
                      <li class="media event">
                        <a class="pull-left border-green profile_thumb">
                          <i class="fa fa-user green"></i>
                        </a>
                        <div class="media-body">
                          <a class="title" href="#">Ms. Mary Jane</a>
                          <p><strong>$2300. </strong> Agent Avarage Sales </p>
                          <p> <small>12 Sales Today</small>
                          </p>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>



        
      </div>
{% endblock %}
